/*======== Variables ========*/
$openSans: 'Open Sans', sans-serif;
$black: #3d4449;
$charcoal: #737f89;
$cerulean-blue: #007ee5;

/*======== Selectors ========*/
html, body {
  height: 100%;
  background-color: #f5f8f9;
  font-family: $openSans;
  font-size: 14px;
}

div {
  box-sizing: border-box;
}

i {
  vertical-align: middle;
}

.container {
  width: 1170px;
  max-width: 100%;
  background-color: #fff;
  margin: auto;
  padding: 22px;
}

.container--shadowed {
  box-shadow: 0 1px 6px 0 rgba(114, 126, 136, 0.28);
  padding: 18px 22px;
}

.container--shadowed2 {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(114, 126, 136, 0.28);

  padding: 46px 39px;
  height: 100%;
  margin-bottom: 71px;
}

.margin-top {
  margin-top: 71px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.button {
  font-size: 0.8571rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
  text-align: center;
  color: $cerulean-blue;
  border-radius: 3px;
  background-color: transparent;
  border: solid 1px $cerulean-blue;
  padding: 0.6429rem 1.571rem;
  cursor: pointer;
  min-width: 97px;
}

.button--absolute {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.button--gray {
  font-size: 1.071rem;
  color: $charcoal;
  border-color: #d0dce7;
  line-height: 0.93;
  font-weight: 400;

  i {
    font-size: 2rem;
    padding-right: 1.286rem;
  }
}

.button--save {
  color: #fff;
  background: $cerulean-blue;
  margin-right: 20px;
}

.user {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-top: 22px;
}

.user__details {
  display: flex;
}

.user__details--image {
  width: 171px;
  height: 171px;
  background: url('../img/profile_image.jpg') no-repeat center center;
  background-size: contain;

}

.user__details--info {
  width: calc(100% - 171px);
  padding-left: 25px;

}

.d-inline-block {
  display: inline-block;
}

.width50 {
  width: 50%;
}

.star {
  color: $charcoal;
  font-size: 0.9286rem;
}

.star--rating {
  line-height: 0.58;
  text-align: center;
  font-size: 1.429rem;

}

.star--number {
  font-size: 1rem;
  padding: 0 5px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  max-height: 169px;
}

.username {
  font-weight: 600;
  font-size: 1.429rem;
  line-height: 1.2;
  color: $black;
  padding-bottom: 8px;
}

.contact {
  line-height: 1.71;
  color: $charcoal;

}

.ordered {
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  flex-direction: column;

}

.ordered__1 {
  order: 1;

}

.ordered__2 {
  order: 2;
}

.turn-normal {
  text-decoration: none;
  color: $charcoal;
}

.margin-bottom {
  margin-bottom: 37px;
}

.container__margin-bottom {
  margin-bottom: 22px;
}

.justify-end {
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu {
  width: calc(100% - 171px);
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu__items {
  list-style: none;
  text-transform: uppercase;
  padding-left: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 0.8571rem;
    font-size: 1.071rem;
    a {
      text-decoration: none;
      color: $charcoal;
      display: block;
    }
    &:first-child {
      margin-left: 0;
    }
  }

  .active {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: #028dfe;
      bottom: -22px;
      left: 0;
    }
  }

}

.followers {
  color: #a6b0b7;
  font-size: 0.9286rem;
}

.followers-mobile {
  @extend .followers;
}

.followers__icon {
  font-size: 2rem;
  color: $charcoal;
  line-height: 1;
  cursor: pointer;
}

.followers__no {
  padding: 0 10px;
  color: $charcoal;
}

h2 {
  color: $charcoal;
  font-size: 1.714rem;
  font-weight: 400;
  margin-top: 0;
  text-transform: capitalize;
}

.field {
  display: inline-block;
  align-items: center;
  margin-bottom: 1px;
  height: 37px;
  background-color: #f5f8f9;
  padding-left: 5px;
  color: $black;

  & > div {
    vertical-align: middle;
    display: inline-block;

    &:first-child {
      padding-right: 24px;
    }
  }

  a {
    text-decoration: none;
    color: $black;
  }

  i {
    vertical-align: initial;
    margin-right: 5px;
  }
}

.edit {
  background: #ecf1f5;
  cursor: pointer;
  width: 43px;
  height: 37px;
  position: relative;

  &:before {
    font-family: "Ionicons";
    content: '\f2bf';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $charcoal;

  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border-bottom: 14px solid transparent;
    border-right: 17px solid #fff;
    border-top: 14px solid transparent;
    z-index: 100;
    display: none;
  }

  &:hover {
    background: $cerulean-blue;

    &:before {
      color: #fff;
    }
  }
}

.field--name {
  font-size: 1.143rem;
  font-weight: 600;
}

.tab-pane {
  display: none;
  position: relative;
  width: 100%;
}

.active {
  display: inline-block;
}

.popup {
  position: absolute;
  left: 17px;
  top: -10px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 25px 0 #bdc4c9;


  padding: 40px 20px 20px 20px;
  display: none;
  z-index: 100;
}

.display {
  display: block;
}

.group {
  position: relative;

}

.popup__input {
  color: $black;
  font-size: 1.143rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 258px;
  border: none;
  border-bottom: 1px solid $black;
  margin-bottom: 20px;
}

.popup__input:focus {
  outline: none;
}

.mobile-pop {
  display: none;
}

.followers-mobile {
  display: none;
}

/* LABEL ======================================= */
.popup__label {
  color: $black;
  font-size: 1.143rem;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: .5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: .5s ease all;
}

/* active state */
.popup__input:focus ~ .popup__label, .popup__input:valid ~ .popup__label {
  top: -20px;
  font-size: 0.8571rem;
  color: #a6b0b7;
}

/* BOTTOM BARS ================================= */
.popup__bar {
  position: relative;
  display: block;
  width: 273px;
  left: 0;
}

.popup__bar:before, .popup__bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 20px;

  position: absolute;
  background: #d0dce7;
  transition: .5s ease all;
  -moz-transition: .5s ease all;
  -webkit-transition: .5s ease all;
}

.popup__bar:before {
  left: 50%;
}

.popup__bar:after {
  right: 50%;
}

/* active state */
.popup__input:focus ~ .popup__bar:before, .popup__input:focus ~ .popup__bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.popup__input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #d0dce7;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #d0dce7;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #d0dce7;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/*======== @Medias ========*/

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    background-color: transparent;
    padding: 20px;

  }

  .container--shadowed {
    background-color: #fff;
    padding: 0 20px;
  }

  .container--shadowed2 {
    background-color: #fff;
    padding: 0;
  }

  .user {
    display: block;
    text-align: center
  }

  .user__details {
    display: block;
  }

  .user__details--image {
    width: 127px;
    height: 127px;
    margin: auto;
    background: url(../img/profile_image.jpg) no-repeat top center;
    background-size: inherit;

  }

  .user__details__contact {
    display: block;
  }

  .user__details--info {
    width: 100%;
    padding-left: 0;
  }

  .star {
    display: block;
  }

  .width50 {
    width: 100%;
  }

  .button--gray {
    display: none;
  }
  .star.text-right {
    text-align: left;
  }

  .star--rating {
    color: $cerulean-blue;
    display: block;
    text-align: left;
  }

  .margin-top {
    margin-top: 30px;
  }

  .contact {
    text-align: left;
    font-size: 0.9286rem;
  }

  .ordered__1 {
    order: 2;
  }

  .ordered__2 {
    order: 1;
  }

  .menu {
    width: 100%;
    padding-left: 0;

  }

  .menu__items {
    li {
      font-size: 1rem;
      padding: 20px 0;
    }

    .active {
      &:before {
        bottom: 0;
      }
    }
  }

  .followers {
    display: none;
  }

  .followers-mobile {
    display: block;
    text-align: left;
  }

  .followers__no {
    padding: 0 5px;
  }

  .mobile-scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .field {
    background: none;

    .edit {
      display: none;
    }
  }

  .tab-pane {
    padding: 20px;
  }

  .mobile-pop {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;

    &.about {
      display: block
    }

    .field {
      display: block;
    }

    .edit {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }


  #mob-edit {
    position: inherit;
  }

  .popup--mobile {
    left: 0;
    width: 100%;
    top: 0;
  }

  .button {
    background: transparent;
    border: none;
    min-width: 0;
  }

  .group {
    margin-top: 30px;
  }
}


.group__second {
  display: none;

  &#is-Name {
  display: block;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 960px;
  }

  .user__details--image {
    width: 158px;
    height: 158px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .container--shadowed {
    box-shadow: 0 -1px 8px 0 rgba(114, 126, 136, 0.28);

  }
}